@media (max-width: 600px) {
    #current-player {
        width: 600px;
    }
    .game-settings {
        width: 600px;
        margin-left: 225px;
    }
}

#current-player {
    text-align: center;
    font-size: 48px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "top-left top-center top-right"
        "mid-left mid-center mid-right"
        "bottom-left bottom-center bottom-right"
    ;
    width: 588px;
    height: 588px;
    margin: 0 auto;
}

.gameboardPosition {
    border-color: black;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 196px;
    line-height: 196px;
    font-size: 140px;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.left {
    border-right-style: solid;
    border-right-width: 5px;
}
.center {
    border-right-style: solid;
    border-right-width: 5px;
    border-left-style: solid;
    border-left-width: 5px;
}
.right {
    border-left-style: solid;
    border-left-width: 5px;
}
.mid {
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.bottom {
    border-top-style: solid;
    border-top-width: 5px;
}

.game-settings {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.form-button {
    width: 120px;
    height: 50px;
    font-size: 16px;
    background-color: gray;
}

#xAI {
    font-size: large;
}

#settings-form {
    margin: 15px auto;
    text-align: center;
}
#ai-form {
    margin: 15px auto;
    text-align: center;
}

.hidden {
    display: none;
}
