/* body {
    width: 100%;
} */

#current-player {
    /* display: table; */
    width: 600px;
    text-align: center;
    font-size: 48px;
    /* margin: 0 auto; */

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "top-left top-center top-right"
        "mid-left mid-center mid-right"
        "bottom-left bottom-center bottom-right"
    ;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.gameboardPosition {
    border-color: black;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size: 140px;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.left {
    border-right-style: solid;
    border-right-width: 5px;
}
.center {
    border-right-style: solid;
    border-right-width: 5px;
    border-left-style: solid;
    border-left-width: 5px;
}
.right {
    border-left-style: solid;
    border-left-width: 5px;
}
.mid {
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}
.bottom {
    border-top-style: solid;
    border-top-width: 5px;
}

.game-settings {
    display: table;
    margin: 0 auto;
}
#setting {
    margin-right: 230px;
}
#reset {
    margin-left: 230px;
}

#game-over {
    margin: 0 auto;
    width: 50%;
}

.hidden {
    display: none;
}
#settings-form {
    width: 50%;
    margin: 0 auto;
}
#ai-form {
    width: 50%;
    margin: 0 auto;
}
